# Node modules
node_modules/

# Build output
build/
dist/

# Production/public static
public/

# Environment files
.env

# macOS
.DS_Store

# Editor folders
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: lockfiles
# package-lock.json
# yarn.lock
